<div class="d-flex">
  <div class="w-100">
    <h3 class="mb-4 text-center">Forgot password</h3>
  </div>
</div>

<section>
  <p class="text-center">Enter your email address</p>

  <!-- Loader -->
  <app-spinner *ngIf="isLoading"></app-spinner>

  <form>
    <app-form-field labelFor="email" label="Email">
      <input id="email" [formControl]="emailCtrl" type="text" class="form-control">
    </app-form-field>

    <div class="form-input-group mt-4">
      <button (click)="onSubmit()" [disabled]="isLoading" type="submit"
              class="form-control btn btn-primary rounded submit px-3">
        Send Reset Password Email
      </button>
    </div>
  </form>

  <div class="d-flex justify-content-evenly mt-4">
    <a class="btn btn-info" routerLink="/auth/login" role="button">Sign In</a>
    <a class="btn btn-info" routerLink="/auth/register" role="button">Sign Up</a>
  </div>
</section>
