.profile-picture-container {
  position: relative;
}

.profile-picture-container button:hover {
  transition: .3s;
  opacity: 0.8;
}

.img-container {
  width: 128px;
  height: 128px;
}

.change-profile-picture-file-input {
  visibility: hidden;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}
