<div class="d-flex">
  <div class="w-100">
    <h3 class="mb-4 text-center">Reset Password</h3>
  </div>
</div>

<form [formGroup]="form">

  <!-- New Password -->
<!--  <div class="form-input-group">-->
<!--    <app-password-field formControlName="newPassword" label="New Password"></app-password-field>-->
<!--    <app-input-error [formCtrl]="form.controls['newPassword']"></app-input-error>-->
<!--  </div>-->

  <app-form-field labelFor="password" label="Password">
    <app-password-field formControlName="newPassword"></app-password-field>
  </app-form-field>

  <!-- Loader -->
  <app-spinner *ngIf="isLoading"></app-spinner>

  <!-- Api error response message -->
  <p *ngIf="responseErrorMsg" class="error-msg text-center">{{ responseErrorMsg }}</p>

  <!-- Sign In button -->
  <div class="form-input-group mt-4">
    <button (click)="onSubmit()" [disabled]="isLoading" type="submit"
            class="form-control btn btn-primary rounded px-3">
      Reset
    </button>
  </div>
</form>

<!-- Sign up -->
<p class="text-center mt-4">
  Remembered your password? <a routerLink="/auth/login">Log In</a>
</p>
