<div class="d-flex">
  <div class="w-100">
    <h3 class="mb-4 text-center">Reset Password</h3>
  </div>
</div>

<form>

  <!-- new Password -->
  <div class="form-input-group">
    <label class="form-control-placeholder" for="password">New Password</label>
    <input id="password" [formControl]="passwordCtrl" [type]="showPasswordAsText && 'text' || 'password'"
           class="form-control">
    <span (click)="showPasswordAsText = !showPasswordAsText" class="fa fa-fw field-icon field-icon-hoverable"
          [ngClass]="showPasswordAsText && 'fa-eye' || 'fa-eye-slash'"></span>
    <app-input-error [formCtrl]="passwordCtrl"></app-input-error>
  </div>

  <!-- Loader -->
  <app-spinner *ngIf="isLoading"></app-spinner>

  <!-- Api error response message -->
  <p *ngIf="responseErrorMsg" class="error-msg text-center">{{ responseErrorMsg }}</p>

  <!-- Sign In button -->
  <div class="form-input-group mt-4">
    <button (click)="onSubmit()" [disabled]="isLoading" type="submit"
            class="form-control btn btn-primary rounded submit px-3">
      Sign In
    </button>
  </div>
</form>

<!-- Sign up -->
<p class="text-center mt-4">
  Remembered your password? <a routerLink="/auth/login">Log In</a>
</p>
