<section class="row p-3 mt-4">
  <div
    class="d-flex flex-wrap justify-content-center flex-column justify-content-md-between flex-md-row align-items-md-center">
<!--    <div class="mt-2 mt-md-0 flex-grow-1 flex-md-grow-0">-->
<!--      <input class="col-12" type="text" placeholder="Search">-->
<!--    </div>-->

    <div class="mt-4 mt-md-0 flex-grow-1 flex-md-grow-0 ms-md-auto">  <!-- TODO: delete ms-md-auto after uncommenting search filter -->
      <a [routerLink]="createPostRoute" class="btn btn-primary col-12">Create Post</a>
    </div>
  </div>
</section>
