<div class="d-flex">
  <div class="w-100">
    <h3 class="mb-4 text-center">Sign In</h3>
  </div>
</div>

<form [formGroup]="form">
  <!-- Email -->
  <app-form-field labelFor="email" label="Email">
    <input id="email" formControlName="email" type="text" class="form-control">
  </app-form-field>

  <!-- Password -->
  <app-form-field labelFor="password" label="Password">
    <app-password-field formControlName="password"></app-password-field>
  </app-form-field>

  <!-- Loader -->
  <app-spinner *ngIf="isLoading"></app-spinner>

  <!-- Api error response message -->
  <p *ngIf="responseErrorMsg" class="error-msg text-center">{{ responseErrorMsg }}</p>

  <!-- Sign In button -->
  <div class="form-input-group mt-4">
    <button (click)="onSubmit()" [disabled]="isLoading" type="submit"
            class="form-control btn btn-primary rounded submit px-3">
      Sign In
    </button>
  </div>


  <div class="form-input-group d-flex justify-content-center">
    <!-- Remember me -->
    <div>
      <label class="checkbox-wrap checkbox-primary mb-0">
        Remember Me
        <input formControlName="rememberMe" type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>

    <!-- Forgot password -->
    <div class="ms-5">
      <a routerLink="/auth/forgot-password">Forgot Password</a>
    </div>
  </div>
</form>

<!-- Sign up -->
<p class="text-center mt-4">
  Not a member? <a routerLink="/auth/register">Register</a>
</p>
