<div class="d-flex">
  <div class="w-100">
    <h3 class="mb-4 text-center">Sign Up</h3>
  </div>
</div>

<form [formGroup]="form">
  <!-- First Name -->
  <app-form-field labelFor="firstname" label="First Name">
    <input id="firstname" formControlName="firstName" type="text" class="form-control">
  </app-form-field>

  <!-- Last Name -->
  <app-form-field labelFor="lastname" label="Last Name">
    <input id="lastname" formControlName="lastName" type="text" class="form-control">
  </app-form-field>

  <!-- Email -->
  <app-form-field labelFor="email" label="Email">
    <input id="email" formControlName="email" type="text" class="form-control">
  </app-form-field>

  <!-- Password -->
  <app-form-field labelFor="password" label="Password">
    <app-password-field formControlName="password"></app-password-field>
  </app-form-field>

  <!-- Loader -->
  <app-spinner *ngIf="isLoading"></app-spinner>

  <!-- Api error response message -->
  <p *ngIf="responseErrorMsg" class="error-msg text-center">{{ responseErrorMsg }}</p>

  <!-- Sign Up button -->
  <div class="form-input-group mt-4">
    <button (click)="onSubmit()" type="submit" class="form-control btn btn-primary rounded submit px-3">
      Sign Up
    </button>
  </div>
</form>

<!-- Sign up -->
<p class="text-center mt-4">
  Already a member? <a routerLink="/auth/login">Sign In</a>
</p>
