@import "components";
@import "variables";
@import "forms";

* {
  box-sizing: border-box;
}

.text-left {
  text-align: left!important;
}

// Center dialog in window
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
