.comments-container {
  max-width: 400px;
  border-top: 1px solid gray;
}

.comment-box-background {
  flex-grow: 1;
  background-color: #c2d1f5 !important;
}

.comment-box-background:focus {
  color: #212529;
  border: 1px solid #86b7fe;
  outline: 0;
}

.author-comment-box-background {
  background-color: #e9efff !important;
}

.comment-box {
  padding: 8px 12px;
}

.comment-box textarea {
  resize: none;
  overflow: hidden;
  border: none;
  background-color: transparent;
  padding: 0;
}

.comment-box textarea:focus {
  border: none;
}
